In [1]:
import numpy as np # linear algebra
import pandas as pd

pokemon_df = pd.read_csv("pokemon.csv")
combats_df = pd.read_csv("combats.csv")
tests_df = pd.read_csv("tests.csv")
pokemon_df.drop(["Name","Generation","Legendary"],axis=1,inplace = True)

In [2]:
tp=[]
for i in range(len(pokemon_df)):
    tp.append(pokemon_df["Type 1"][i])
tp2=list(set(tp))

In [3]:
for i in range(len(pokemon_df)):
    for j in range(len(tp2)):
        if pokemon_df["Type 1"][i]==tp2[j]:
            pokemon_df["Type 1"][i]=(j+1)
        if pokemon_df["Type 2"][i]==tp2[j]:
            pokemon_df["Type 2"][i]=(j+1)

c:\python\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\python\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
pokemon_df["Type 2"]=pokemon_df["Type 2"].fillna(0)
print(pokemon_df)

       # Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0      1      4       9   45      49       49       65       65     45
1      2      4       9   60      62       63       80       80     60
2      3      4       9   80      82       83      100      100     80
3      4      4       9   80     100      123      122      120     80
4      5     13       0   39      52       43       60       50     65
5      6     13       0   58      64       58       80       65     80
6      7     13      11   78      84       78      109       85    100
7      8     13      10   78     130      111      130       85    100
8      9     13      11   78     104       78      159      115    100
9     10     18       0   44      48       65       50       64     43
10    11     18       0   59      63       80       65       80     58
11    12     18       0   79      83      100       85      105     78
12    13     18       0   79     103      120      135      115     78
13    14      2       0   45      30       35       20       20     45
14    15      2       0   50      20       55       25       25     30
15    16      2      11   60      45       50       90       80     70
16    17      2       9   40      35       30       20       20     50
17    18      2       9   45      25       50       25       25     35
18    19      2       9   65      90       40       45       80     75
19    20      2       9   65     150       40       15       80    145
20    21     17      11   40      45       40       35       35     56
21    22     17      11   63      60       55       50       50     71
22    23     17      11   83      80       75       70       70    101
23    24     17      11   83      80       80      135       80    121
24    25     17       0   30      56       35       25       35     72
25    26     17       0   55      81       60       50       70     97
26    27     17      11   40      60       30       31       31     70
27    28     17      11   65      90       65       61       61    100
28    29      9       0   35      60       44       40       54     55
29    30      9       0   60      85       69       65       79     80
..   ...    ...     ...  ...     ...      ...      ...      ...    ...
770  771      7       0   95      65       65      110      130     60
771  772      1      11   78      92       75       74       63    118
772  773     12       7   67      58       57       81       67    101
773  774     16       7   50      50      150       50      150     50
774  775     10       0   45      50       35       55       75     40
775  776     10       0   68      75       53       83      113     60
776  777     10       0   90     100       70      110      150     80
777  778      3       7   57      80       91       80       87     75
778  779     14       4   43      70       48       50       60     38
779  780     14       4   85     110       76       65       82     56
780  781     14       4   49      66       70       44       55     51
781  782     14       4   44      66       70       44       55     56
782  783     14       4   54      66       70       44       55     46
783  784     14       4   59      66       70       44       55     41
784  785     14       4   65      90      122       58       75     84
785  786     14       4   55      85      122       58       75     99
786  787     14       4   75      95      122       58       75     69
787  788     14       4   85     100      122       58       75     54
788  789     15       0   55      69       85       32       35     28
789  790     15       0   95     117      184       44       46     28
790  791     11      10   40      30       35       45       40     55
791  792     11      10   85      70       80       97       80    123
792  793      7       0  126     131       95      131       98     99
793  794      6      11  126     131       95      131       98     99
794  795     10       8  108     100      121       81       95     95
795  796     16       7   50     100      150      100      150     50
796  797     16       7   50     160      110      160      110    110
797  798      5      14   80     110       60      150      130     70
798  799      5       6   80     160       60      170      130     80
799  800     13      18   80     110      120      130       90     70

[800 rows x 9 columns]

In [5]:
merged1 = combats_df.merge(pokemon_df, how = "left", left_on = "First_pokemon", right_on = "#")
merged2 = combats_df.merge(pokemon_df, how = "left", left_on = "Second_pokemon", right_on = "#")
for i in merged2.columns : 
    merged2.rename(columns = {i : i + "_2"}, inplace = True)

data_train = pd.concat([merged1,merged2], axis = 1)

data_train.sample(5)

,First_pokemon,Second_pokemon,Winner,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,...,Winner_2,#_2,Type 1_2,Type 2_2,HP_2,Attack_2,Defense_2,Sp. Atk_2,Sp. Def_2,Speed_2
12555,554,394,394,554,5,13,100,100,100,100,...,394,394,6,0,65,150,60,115,60,115
14626,163,453,163,163,5,0,106,110,90,154,...,163,453,4,9,60,70,65,125,105,90
47950,603,50,603,603,2,4,75,103,80,70,...,603,50,4,9,60,65,70,85,75,40
48454,143,335,335,143,18,15,130,85,80,85,...,335,335,1,5,30,40,55,40,55,60
2037,282,124,124,282,18,8,70,85,70,60,...,124,124,17,0,105,95,80,40,80,90

In [6]:
for col in data_train.columns :
    if (data_train[col].dtype == "object") :
        data_train[col] = data_train[col].factorize()[0]  # Encode categorical variables
    if (data_train[col].dtype == "bool") :
        data_train[col] = data_train[col].astype(int)  # Just change bool to int

data_train.sample(5)

,First_pokemon,Second_pokemon,Winner,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,...,Winner_2,#_2,Type 1_2,Type 2_2,HP_2,Attack_2,Defense_2,Sp. Atk_2,Sp. Def_2,Speed_2
40154,268,86,268,268,0,6,100,134,110,95,...,268,86,8,5,90,65,65,40,40,15
44044,291,669,291,291,4,11,60,70,50,100,...,291,669,7,13,50,30,55,65,55,20
43596,749,79,79,749,14,14,45,80,100,35,...,79,79,8,9,40,40,35,50,100,70
299,3,730,3,3,1,9,80,82,83,100,...,3,730,12,11,45,50,43,40,38,62
38805,117,361,361,117,8,0,90,55,75,60,...,361,361,16,10,50,70,50,50,50,70

In [7]:
for i in range(len(data_train)):
    if data_train["Winner"][i] == data_train["First_pokemon"][i]:
        data_train["Winner"][i]=0
    else:
        data_train["Winner"][i]=1

data_train.sample(5)

,First_pokemon,Second_pokemon,Winner,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,...,Winner_2,#_2,Type 1_2,Type 2_2,HP_2,Attack_2,Defense_2,Sp. Atk_2,Sp. Def_2,Speed_2
40563,660,693,1,660,1,3,74,94,131,54,...,693,693,11,0,85,97,66,105,66,65
14548,450,355,0,450,10,0,60,85,49,60,...,450,355,11,8,70,120,100,145,105,20
10906,122,418,1,122,8,0,250,5,5,35,...,418,418,3,5,80,80,90,110,130,110
41704,711,469,0,711,13,15,125,130,90,130,...,711,469,0,0,70,60,70,87,78,85
12635,403,753,0,403,7,0,55,104,105,94,...,403,753,14,0,78,52,60,63,65,23

In [8]:
data_train.drop(["First_pokemon","Second_pokemon","Winner_2","#","#_2","Second_pokemon_2","First_pokemon_2"],axis=1,inplace=True)
data_train.sample(5)

,Winner,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Type 1_2,Type 2_2,HP_2,Attack_2,Defense_2,Sp. Atk_2,Sp. Def_2,Speed_2
24372,0,8,0,75,100,66,60,66,115,8,0,80,92,65,65,80,68
34839,1,7,0,30,40,70,70,25,60,9,0,40,45,40,65,40,65
39819,1,7,0,100,150,90,180,160,90,6,14,70,80,70,80,70,110
20274,0,9,6,95,117,80,65,70,92,8,0,65,45,55,45,70,45
49114,0,13,0,68,75,53,83,113,60,16,0,50,50,95,40,50,35

In [9]:
y=data_train.Winner
X=data_train.drop(["Winner"],axis=1)

In [10]:
print(X)

       Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0           0       8   50      64       50       45       50     41
1           1       1   91      90       72       90      129    108
2           2      11   55      40       85       80      105     40
3           3       0   40      40       40       70       40     20
4           0      18   70      60      125      115       70     55
5           4      12   50      47       50       57       50     65
6           5      11   40      50       45       70       45     70
7           6       0   70      80       50       35       35     35
8           4       0   50      65       90       35       35     15
9           7      11   40      30       30       55       30     85
10          8      11   40      55       30       30       30     60
11          0       1   91     129       90       72       90    108
12          4       0   50      20       55       25       25     30
13          0      18   70      60      125      115       70     55
14          0       6  100     164      150       95      120     71
15          7       0   50      53       62       58       63     44
16          7      15  130      85       80       85       95     60
17          8      11   45      40       60       40       75     50
18          6       3   70     145       88      140       70    112
19          7       0   95     100       85      108       70     70
20          7       0   64      66       68       81       76     50
21          7       8  110      78       73       76       71     60
22          7      14   55      40       50       65       85     40
23          9      16  105     130      120       45       45     40
24          1       0   45      35       50       70       50     30
25          5      11  106      90      130       90      154    110
26          4       8   60      79      105       59       85     36
27          7      16   54      78      103       53       45     22
28          8       0   75     100       95       40       70    110
29          4       3   58     109      112       48       48    109
...       ...     ...  ...     ...      ...      ...      ...    ...
49970       9       0   68      72       78       38       42     32
49971       7       0   44      48       65       50       64     43
49972      10       0   55      40       40       65       45     35
49973      12       5   45      30       15       85       65     65
49974       0       0   97     165       60       65       50     58
49975       0      18   72     105      115       54       86     68
49976       7       8  100     110       90       85       90     60
49977      14       7   57      80       91       80       87     75
49978       3      11   78      81       71       74       69    126
49979       5       0   75     125       70      125       70    115
49980       6       0   40      80       35       35       45     70
49981       2       0   70      45       48       60       65     35
49982       5       0   45      30       50       55       65     45
49983       6       0  120     100       85       30       85     45
49984       7       0   30      40       70       70       25     60
49985       5       6   80     160       60      170      130     80
49986       4       9   60     100       89       55       69    112
49987       4       9   60      50       70       50       90     65
49988      17       0   55      47       52       40       40     41
49989       4       4   75     103       80       70       80     92
49990       1      11   55      45       50       45       65     80
49991      11      10   52      65       50       45       50     38
49992       8       7  103      60      126       80      126     50
49993       8       0   38      36       38       32       36     57
49994       4      12   50      47       50       57       50     65
49995      13      13  100     120      100      150      120     90
49996       9       0   60      85       40       30       45     68
49997       7      11   60      50      100       85       70     65
49998      10       0   40      30       50       55       55    100
49999       3      11   78     104       78      159      115    100

       Type 1_2  Type 2_2  HP_2  Attack_2  Defense_2  Sp. Atk_2  Sp. Def_2  \
0             0         6    70        70         40         60         40
1             1         1    91       129         90         72         90
2             2         0    75        75         75        125         95
3             3         0    77       120         90         60         90
4             4        16    20        10        230         10        230
5             5        14    60        50        150         50        150
6             6         5    65        50         35        115         95
7             7        10   150       100        120        100        120
8             8         0    50        53         62         58         63
9             9         0    35        55         40         50         50
10            8         0    30        45         55         70         55
11            7         0    38        30         85         55         65
12            8         8   100       110         90         85         90
13            8         5    95        75        110        100         80
14            4        11    70        94         50         94         50
15            4         0    77        85         51         55         51
16            9         0    90        85         75        115        100
17            6         8   100       100         80         60         60
18            1         7    50        50        150         50        150
19            2         0   116        55         85        107         95
20           10         3    65       125        100         60         70
21            8         3    84        86         88        111        101
22            7        13    60        55         90        145         90
23           11         8    70       120        100        145        105
24            9        11    55        75         60         75         60
25            3        12   100       150        120        120        100
26           12         0    85       110         90         45         90
27            1        10    58        89         77         45         45
28            9         0    80       120         79         95         79
29            2         0    74        48         76         83         81
...         ...       ...   ...       ...        ...        ...        ...
49970         6         0    55        69         85         32         35
49971         7         4    65        90        122         58         75
49972        12         0    90        55         75         60         75
49973         3         5    80        90         80        130        110
49974        13        10    65        75         90         97        123
49975         2         0    80        45         65         90        110
49976        12         0    35        46         34         35         45
49977         1         2    45        95         50         40         50
49978        10        11    60        85         42         85         42
49979         4         1    80       185        115         40        105
49980        12         0    30        56         35         25         35
49981        14        11    85        50         95        120        115
49982         4         0    50        35         55         25         25
49983        13         6   103        93         67         71         61
49984        16        13   100       180        160        150         90
49985        10        15    70       120         65         45         85
49986        12        11    83        80         80        135         80
49987         4         0    77        85         51         55         51
49988         8         1    91        72         90        129         90
49989        11         1    90        93         55         70         55
49990        12         0    73       115         60         60         60
49991        12         1   100       128         90         77         77
49992        17         0    79       115         70        125         80
49993        13        10    65        75         90         97        123
49994        15         0    45        85         50         55         50
49995         8         0    30        40         70         70         25
49996         9         0    35        55         40         45         40
49997        12         0    73       115         60         60         60
49998         9         3    25        35         70         95         55
49999        15         0    70        80         50         35         35

       Speed_2
0           60
1          108
2           40
3           48
4            5
5           60
6           95
7           90
8           44
9           90
10          85
11          30
12          60
13          30
14          66
15          65
16         115
17          50
18          50
19          29
20          70
21          60
22          80
23          20
24         103
25          90
26          80
27          48
28          70
29         104
...        ...
49970       28
49971       84
49972       30
49973      110
49974       44
49975       80
49976       20
49977       75
49978       91
49979       75
49980       72
49981       80
49982       15
49983       84
49984       90
49985      125
49986      121
49987       65
49988      108
49989       55
49990       90
49991      128
49992      111
49993       44
49994       65
49995       60
49996       60
49997       90
49998       45
49999       35

[50000 rows x 16 columns]

In [11]:
from sklearn import tree
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [12]:
clf1 = RandomForestClassifier(n_estimators = 50)
clf2 =svm.SVR()
clf3 =GaussianNB()
clf4 =tree.DecisionTreeClassifier()

In [16]:
print(np.mean(cross_val_score(clf1, X, y, cv = 5)))

0.9508600418082004

In [21]:
print(np.mean(cross_val_score(clf3, X, y, cv = 5)))

0.799080197198202

In [ ]:
print(np.mean(cross_val_score(clf2, X, y, cv = 5)))

In [15]:
print(np.mean(cross_val_score(clf4, X, y, cv = 5)))

0.9331402057358019

In [29]:
array=[13,0,68,75,53,83,113,60,16,0,50,50,95,40,50,35]

clf4.fit(X,y)
clf4.predict(array)

ValueError: Expected 2D array, got 1D array instead:
array=[ 13.   0.  68.  75.  53.  83. 113.  60.  16.   0.  50.  50.  95.  40.
  50.  35.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.